<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>    
    <section name="esapi" type="System.Configuration.NameValueSectionHandler" requirePermission="false"/>
      <section name="esapiSection" type="Owasp.Esapi.Configuration.EsapiSection"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>  
  <esapi>
    <add key="AccessControllerClass" value="Owasp.Esapi.AccessController" />
    <add key="EncoderClass" value="Owasp.Esapi.Encoder" />
    <add key="EncyptorClass" value="Owasp.Esapi.Encryptor" />
    <add key="IntrusionDetectorClass" value="Owasp.Esapi.IntrusionDetector" />
    <add key="LoggerClass" value="Owasp.Esapi.Logger" />
    <add key="RandomizerClass" value="Owasp.Esapi.Randomizer" />
    <add key="SecurityConfigurationClass" value="Owasp.Esapi.SecurityConfiguration" />
    <add key="ValidatorClass" value="Owasp.Esapi.Validator" />

    <!-- Encryption -->
    <add key="MasterPassword" value="owasp1"/>
    <add key="MasterSalt" value="saltsalt"/>
    <add key="CharacterEncoding" value="UTF-8"/>
    <add key="HashAlgorithm" value="SHA512"/>
    <add key="HashIterations" value="1024"/>
    <add key="EncryptionAlgorithm" value="Rijndael"/>
    <add key="RandomAlgorithm" value="System.Security.Cryptography.RNGCryptoServiceProvider"/>
    <add key="DigitalSignatureAlgorithm" value="DSA"/>

    <add key="LogLevel" value="All"/>    
  </esapi>
    <esapiSection>        
    </esapiSection>
  <log4net>
    <!-- Add an appender of type FileAppender to configure log4net to log messages (error, information, debug etc.) to a text file -->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="App_Data/Log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p %c %m%n" />
      </layout>
    </appender>
    <root>     
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>